<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
    <%- include('partials/header') %>
        <div class="container mt-3">
            <h2>Chào mừng bạn đến với Lab NodeJS MVC</h2>
            <p>Quản lý nhà cung cấp và sản phẩm</p>
        </div>
        <%- include('partials/footer') %>
</body>

</html>